.nav__menu{
    grid-column: span 8;
    display: grid;
    grid-template-columns: auto 1fr;
}


.nav__menu--right{
    justify-self: end;
    align-self: center;
}

.nav__menu--right > li{
    display: inline;
}

.nav__menu > * > img{
    object-fit: contain;
}

@media only screen and (min-width: 768px) {
    
    .nav__menu{
        grid-column: span 12;
    }

}